<h1 class="ml-5 mt-3" style="text-align: center;">Welcome to the guiding star in your world of gaming</h1>
<br>
<h3 class="ml-5" style="font-style: normal;color: #545b62;">Available <strong style="color: black;">Tournaments</strong> right now</h3>
<div class="browse-container">
    <div class="row">
        <div class="col-lg-8">

                <div class="ml-3">
                        <ul *ngFor="let tournament of tournaments" class="list-inline">
                            <li class="list-inline-item ml-5 mt-2" active>
                                <div class="row">
                                    <h5 class="tournament-name" style="margin-top: 6px;">{{ tournament.name }}</h5>
                                    <button class="btn btn-secondary active ml-3" (click)="onDeleteTournament(tournament)">Delete
                                        Tournament</button>
                                    <button class="btn btn-secondary active ml-3" (click)="onUpdateTournament(tournament)">Update
                                        Tournament</button>
                                </div>
                                <h5 class="ml-5" style="font-size: 16px;"><b>Region: </b> {{ tournament.region }}</h5>
                                <h5 class="ml-5" style="font-size: 16px;"><b>Date: </b> {{ tournament.date }}</h5>
                                <h5 class="ml-5" style="font-size: 16px;"><b>Format: </b>{{ tournament.format }}</h5>
                                <h5 class="ml-5" style="font-size: 16px;"><b>Type: </b>{{ tournament.type }}</h5>

                                <p style="font-size: 17px;color: red;" (click)="onPlayerDetails(tournament)">
                                    <a class="nav-link" routerLinkActive='active' [routerLink]="['tournament', tournament.id, 'players']">
                                        <strong>Click to see registered players</strong>
                                    </a>
                                
                                </p>
                                
                                <hr>
                    
                            </li>
                        </ul>
                    </div>


        </div>
        <div class="col-lg-4">

                <app-tournament-form-update *ngIf="showForm" [selectedTournament]="selectedTournament"
                    (showFormChange)="onShowFormVariableChangeEvent($event)"
                    (tournamentWasUpdated)="onTournamentWasUpdatedChange($event)">
                </app-tournament-form-update>

                <div *ngIf="players && showPlayers" class="ml-2">Registered players: {{ players }}</div>


        </div>

    </div>


</div>