<div class="container" style="margin-top: 10px;">
  <h3>Update tournament</h3>
  <h5 style="color: rgba(241, 236, 237, 0.87);">{{ selectedTournament.name }}</h5>
  <br>
  
    <form [formGroup]="addTournamentForm">
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="label-organize">Tournament name (*required )</label>
                    <div class="input-group" >
                        <input type="text" style="width: 90%;" formControlName="name">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="region" class="label-organize">Region (*required )</label>
                    <div class="input-group">
                        <input type="text" style="width: 90%;" formControlName="region">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="date" class="label-organize">Date (*required )</label>
                    <div class="input-group">
                        <input type="text" style="width: 90%;" formControlName="date">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="format" class="label-organize">Format</label>
                    <div class="input-group">
                        <input type="text" style="width: 90%;" formControlName="format">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="type" class="label-organize">Type</label>
                    <div class="input-group">
                        <input type="text" style="width: 90%;" formControlName="type">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <button type="button" class="btn btn-primary btn-lg ml-3" (click)="updateTournament()">
            Update
          </button>
          <button type="button" class="btn btn-primary btn-lg ml-3" (click)="onCancel()">
            Cancel
          </button>
        
        
        </div>