<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">WELCOME TO BATTLEFY</h1>
      </div>
    </div>
  </div>

  <div class="container" style="text-align: center; background: black">
    <div class="row">
      <div class="col-lg-2">
        <img src="assets/media/5v5.jpg" height="100" width="100">
  
      </div>
      <div class="col-lg-2">
        <img src="assets/media/call.jpg" height="100" width="100">
  
      </div>
      <div class="col-lg-2">
        <img src="assets/media/fifa.png" height="100" width="100">
  
      </div>
      <div class="col-lg-2">
        <img src="assets/media/fortnite.png" height="100" width="100">
  
      </div>
      <div class="col-lg-2">
        <img src="assets/media/league.jpg" height="100" width="100">
  
      </div>
      <div class="col-lg-2">
        <img src="assets/media/overwatch.jpg" height="100" width="100">
  
      </div>
    </div>
  
  </div>
  