<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/browse">Browse Tournaments</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/organize">Organize Tournaments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>


</nav>

<router-outlet></router-outlet>
