<div style="margin-top: 50px;">

    <div class="first-container">
        <div class="my-first-container">
            <div class="vertical-center-content">
                <h1>
                    <span>Join tens of thousands of other organizers using</span>
                    <br>
                    <span>Battlefy every day to create awesome tournaments.</span>
                </h1>
                <button class="btn btn-primary btn-lg btn-create" (click)="showCreateTournamentForm()">Create my tournament</button>
    
            </div>
        </div>
    
    </div>
    

    <div class="my-second-container">
        <h2 style="margin-top: 25px;">
            <span>Everything you need to organize and manage</span>
            <br>
            <span> tournaments, 100% free</span>
        </h2>
    </div>
</div>

<div *ngIf="showForm" class="container" style="margin-top: 50px;">
    <form [formGroup]="addTournamentForm">
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name" class="label-organize">Tournament name (*required )</label>
                    <div class="input-group" >
                        <input type="text" style="width: 55%;" formControlName="name">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="region" class="label-organize">Region (*required )</label>
                    <div class="input-group">
                        <input type="text" style="width: 55%;" formControlName="region">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="date" class="label-organize">Date (*required )</label>
                    <div class="input-group">
                        <input type="text" style="width: 55%;" formControlName="date">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="format" class="label-organize">Format</label>
                    <div class="input-group">
                        <input type="text" style="width: 55%;" formControlName="format">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="type" class="label-organize">Type</label>
                    <div class="input-group">
                        <input type="text" style="width: 55%;" formControlName="type">
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg" (click)="addNewTournamentToDatabase()">
            Create
        </button>

        <br><br><br><br><br>

    </form>
</div>

