
.vertical-center-content {
    margin-top: 50px;
    text-align: center;
    display: inline-block;    
    vertical-align: center;
}


 .my-first-container{
    background-color: #e9ecef;
    height: 280px;
    text-align: center;
 }


.my-second-container {
    text-align: center;
 }


.btn.btn-primary {
    background-color: #eb2b44;
    border: 1px solid #eb2b44;
}

.btn-create {
    margin-top: 20px;
}

.label-organize {
    font-family: 'Arial Black', Gadget, sans-serif;
}